# Xcode
.DS_Store

# User settings
xcuserdata/
*.xcuserstate

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcshareddata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio dependency manager
Dependencies/
.accio/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Code injection
iOSInjectionProject/

# Archives
*.xcarchive

# App logs
*.log
